@use '../global.scss';
.sectionNotFound{
    width: 100vw;
    height: 65vh;
    padding: 10vh 5vw;
    display: block;
    align-items: center;
    text-align: center;
    background-color: rgb(208, 220, 255);
}
.titleNotFound{
    font-size: 5rem;
    color: var(--backgroundColor);
    margin-bottom: 10vh;
}
.paragraphNotFound{
    font-size: 2.5rem;
    color: var(--backgroundColor);
}
@media only screen and (min-width: 600px){
    .titleNotFound{
        font-size: 7.5rem;
        margin-bottom: 5vh;
    }
    .paragraphNotFound{
        font-size: 3.5rem;
    }
}
@media only screen and (min-width: 800px){
    .sectionNotFound{
        width: 100vw;
        height: 68vh;
    }
    .paragraphNotFound{
        font-size: 4.5rem;
    }
}